<div class="newgame jumbotron">
  <h1 class="hidden-xs">Cara a Cara</h1>
  <p>Combine uma nova partida com outros jogadores e divirta-se.</p>
  <div class="newgame--input-group input-group">
    <input class="form-control" placeholder="Dê um nome para a partida..." type="text">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Jogar!</button>
    </span>
  </div>
</div>
