#game > ul {
  overflow: hidden;
}

#game > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.goal,
.card {
  margin: 0.5em 0.25em;
  width: 108px;
  height: 144px;
  overflow: hidden;
  border: 2px solid #6F5872;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
  text-align: center;
  padding-bottom: 3em;
}

.goal img,
.card img {
  min-height: 100%;
  max-width: inherit;
  position: relative;
  left: 100%;
  margin-left: -200%;
}

.card figcaption {
  height: 3em;
  width: 144px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.lider {
  border-color: blue;
}

#goal .hero-unit {
  padding: 10px 0;
  overflow: hidden;
}

.goal {
  padding: 0;
  margin: 1em 1.75em;
  float: left;
}

footer {
  background-color: white;
}
footer p {
  margin: 0;
  line-height: 2em;
}

footer {
  background-color: white;
}
footer p {
  margin: 0;
  line-height: 2em;
}
