<div class="hero-unit">
    <h1>Cara a Cara</h1>
    <p>Combine uma nova partida com outro jogador e divirta-se.</p>
    <div class="input-append">
      <input type="text" class="form-control" placeholder="Dê um nome para partida.">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Jogar!</button>
      </span>
    </div><!-- /input-group -->
    <p><span class="label label-important">NSFW</span>: Este jogo pode causar problemas em ambientes de trabalho chatos.</p>
</div>
